services/node-red/flows/flows.json
[
    {
        "id": "tab-sen66",
        "type": "tab",
        "label": "SEN66 → InfluxDB",
        "disabled": false,
        "info": "Subscribes to MQTT topic 'sen-66-data', parses the SEN66 sensor payload,\nand writes a measurement to InfluxDB as time-series data.\n\nExpected MQTT payload (JSON):\n{\n  \"pm1_0\": 2.3,\n  \"pm2_5\": 5.1,\n  \"pm4_0\": 6.2,\n  \"pm10_0\": 7.4,\n  \"humidity\": 55.2,\n  \"temperature\": 22.1,\n  \"voc_index\": 100,\n  \"nox_index\": 1,\n  \"co2\": 412\n}"
    },
    {
        "id": "cfg-mqtt",
        "type": "mqtt-broker",
        "name": "Mosquitto (savage)",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "node-red-savage",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "cfg-influxdb",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "timeseries",
        "name": "InfluxDB v2 (savage)",
        "usetls": false,
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "rejectUnauthorized": false
    },
    {
        "id": "node-mqtt-in",
        "type": "mqtt in",
        "z": "tab-sen66",
        "name": "SEN66 data",
        "topic": "sen-66-data",
        "qos": "1",
        "datatype": "json",
        "broker": "cfg-mqtt",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "node-debug-payload",
                "node-influx-out"
            ]
        ]
    },
    {
        "id": "node-influx-out",
        "type": "influxdb out",
        "z": "tab-sen66",
        "influxdb": "cfg-influxdb",
        "name": "Write sen66 measurement",
        "measurement": "sen66",
        "precision": "ms",
        "retentionPolicy": "",
        "database": "timeseries",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "savage",
        "bucket": "timeseries",
        "x": 610,
        "y": 140,
        "wires": []
    },
    {
        "id": "node-debug-payload",
        "type": "debug",
        "z": "tab-sen66",
        "name": "InfluxDB payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "node-inject-test",
        "type": "inject",
        "z": "tab-sen66",
        "name": "Inject test reading",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"pm1_0\":2.3,\"pm2_5\":5.1,\"pm4_0\":6.2,\"pm10_0\":7.4,\"humidity\":55.2,\"temperature\":22.1,\"voc_index\":100,\"nox_index\":1,\"co2\":412}",
        "payloadType": "json",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "node-influx-out",
                "node-debug-payload"
            ]
        ]
    },
    {
        "id": "node-comment",
        "type": "comment",
        "z": "tab-sen66",
        "name": "Click 'Inject test reading' to simulate a SEN66 MQTT message without real hardware",
        "info": "",
        "x": 310,
        "y": 300,
        "wires": []
    }
]