services/node-red/flows/flows.json
[
  {
    "id": "tab-sensors-generic",
    "type": "tab",
    "label": "Sensors → InfluxDB (generic)",
    "disabled": false,
    "info": "Generic sensor ingester.\n\nSubscribes to MQTT wildcard 'sensors/+/+/+/+' and writes one\nInfluxDB row per message, deriving everything from the topic + payload.\n\nTopic format expected:\n  sensors/{project}/{position}/{device_id}/{sensor_type}\n\nPayload: any flat JSON of {field: number}. Example (SEN66):\n{\n  \"pm1_0\": 0.1, \"pm2_5\": 0.2, \"pm4_0\": 0.3, \"pm10\": 0.4,\n  \"voc_index\": 46, \"nox_index\": 1,\n  \"co2_ppm\": 711,\n  \"temperature_c\": 26.47, \"humidity_rh\": 31.51,\n  \"fw\": \"0.3.1\", \"uptime_s\": 12345\n}\n\nMapping to InfluxDB:\n  measurement = sensor_type     (sen66, scd41, bme680, …)\n  tags        = project, position, device_id, fw (if present)\n  fields      = every numeric key in the payload\n  timestamp   = receive time (no client-side ts expected)\n\nAdding a new sensor type or device requires NO changes to this flow."
  },
  {
    "id": "node-mqtt-in-generic",
    "type": "mqtt in",
    "z": "tab-sensors-generic",
    "name": "All sensors",
    "topic": "sensors/+/+/+/+",
    "qos": "1",
    "datatype": "json",
    "broker": "cfg-mqtt",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 130,
    "y": 160,
    "wires": [["node-route-and-tag"]]
  },
  {
    "id": "node-route-and-tag",
    "type": "function",
    "z": "tab-sensors-generic",
    "name": "Route + tag from topic",
    "func": "// Topic: sensors/{project}/{position}/{device_id}/{sensor_type}\nconst parts = (msg.topic || \"\").split(\"/\");\nif (parts.length !== 5 || parts[0] !== \"sensors\") {\n    node.warn(`Skipping non-sensor topic: ${msg.topic}`);\n    return null;\n}\nconst [, project, position, device_id, sensor_type] = parts;\n\nconst d = msg.payload || {};\n\n// Build fields: every finite number in the payload, except 'fw' (which is a tag).\nconst fields = {};\nfor (const [k, v] of Object.entries(d)) {\n    if (k === \"fw\") continue;\n    if (typeof v === \"number\" && Number.isFinite(v)) fields[k] = v;\n}\n\nif (Object.keys(fields).length === 0) {\n    node.warn(`No numeric fields in payload from ${msg.topic}: ${JSON.stringify(d)}`);\n    return null;\n}\n\nconst tags = { project, position, device_id };\nif (typeof d.fw === \"string\" && d.fw.length > 0) tags.fw = d.fw;\n\n// node-red-contrib-influxdb v0.7.x in v2 mode reads measurement from msg.measurement\n// when the node's own `measurement` config is left blank; payload carries fields+tags.\nmsg.measurement = sensor_type;\nmsg.payload = [fields, tags];\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 160,
    "wires": [["node-influx-out-generic", "node-debug-generic"]]
  },
  {
    "id": "node-influx-out-generic",
    "type": "influxdb out",
    "z": "tab-sensors-generic",
    "influxdb": "cfg-influxdb",
    "name": "Write to InfluxDB",
    "measurement": "",
    "precision": "ms",
    "retentionPolicy": "",
    "database": "timeseries",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "savage",
    "bucket": "timeseries",
    "x": 600,
    "y": 140,
    "wires": []
  },
  {
    "id": "node-debug-generic",
    "type": "debug",
    "z": "tab-sensors-generic",
    "name": "InfluxDB payload",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 600,
    "y": 200,
    "wires": []
  },
  {
    "id": "node-inject-intake-sen66",
    "type": "inject",
    "z": "tab-sensors-generic",
    "name": "Test: SEN66 @ intake/pico-01 (pre-filter, dirty)",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "sensors/venthood/intake/pico-01/sen66",
    "payload": "{\"pm1_0\":4.1,\"pm2_5\":12.7,\"pm4_0\":18.3,\"pm10\":22.5,\"voc_index\":210,\"nox_index\":4,\"co2_ppm\":820,\"temperature_c\":28.2,\"humidity_rh\":48.5,\"fw\":\"0.4.0\",\"uptime_s\":12345}",
    "payloadType": "json",
    "x": 200,
    "y": 280,
    "wires": [["node-route-and-tag"]]
  },
  {
    "id": "node-inject-exhaust-sen66",
    "type": "inject",
    "z": "tab-sensors-generic",
    "name": "Test: SEN66 @ exhaust/pico-02 (post-filter, clean)",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "sensors/venthood/exhaust/pico-02/sen66",
    "payload": "{\"pm1_0\":0.4,\"pm2_5\":1.1,\"pm4_0\":1.6,\"pm10\":2.0,\"voc_index\":180,\"nox_index\":3,\"co2_ppm\":815,\"temperature_c\":27.9,\"humidity_rh\":47.8,\"fw\":\"0.4.0\",\"uptime_s\":12340}",
    "payloadType": "json",
    "x": 200,
    "y": 320,
    "wires": [["node-route-and-tag"]]
  },
  {
    "id": "node-inject-ambient-scd41",
    "type": "inject",
    "z": "tab-sensors-generic",
    "name": "Test: SCD41 @ ambient/pico-03 (control)",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "sensors/venthood/ambient/pico-03/scd41",
    "payload": "{\"co2_ppm\":612,\"temperature_c\":23.8,\"humidity_rh\":42.0,\"pressure_hpa\":1013.4,\"fw\":\"0.4.0\",\"uptime_s\":12300}",
    "payloadType": "json",
    "x": 200,
    "y": 360,
    "wires": [["node-route-and-tag"]]
  },
  {
    "id": "node-comment-generic",
    "type": "comment",
    "z": "tab-sensors-generic",
    "name": "Inject nodes simulate the three vent-hood positions (pre-filter / post-filter / ambient). Click any to verify ingestion.",
    "info": "",
    "x": 480,
    "y": 400,
    "wires": []
  },
  {
    "id": "cfg-mqtt",
    "type": "mqtt-broker",
    "name": "Mosquitto (savage)",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "node-red-savage",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true
  },
  {
    "id": "cfg-influxdb",
    "type": "influxdb",
    "hostname": "influxdb",
    "port": "8086",
    "protocol": "http",
    "database": "timeseries",
    "name": "InfluxDB v2 (savage)",
    "usetls": false,
    "influxdbVersion": "2.0",
    "url": "http://influxdb:8086",
    "rejectUnauthorized": false
  },
  {
    "id": "7b06b65b6dbe66c8",
    "type": "global-config",
    "env": [],
    "modules": {
      "node-red-contrib-influxdb": "0.7.0"
    }
  }
]
